.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5b4b4;
  width: 100%;
  height: 10vh;
  gap: 20px;
  padding: 10px;
  box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.1);
}
.header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 5px;
  background-color: black;
  border-radius: 4px;
}
.header .search-debounce-input {
  display: flex;
  width: 50%;
  height: 50px;
}
.image-container {
  overflow-y: auto;
  /* Use 'auto' for scroll only when necessary */
  height: 90vh;
  padding: 20px;
  background-color: #f8efef;
}
.image-container .image-item {
  display: flex;
  flex-direction: column;
  gap: 2px;
  box-shadow: 8px 9px 5px -6px rgba(0, 0, 0, 0.1);
  background-color: #f8efef;
}
.image-container .image-wrapper {
  position: relative;
  width: 100%;
  padding-top: 100%;
  /* Maintain aspect ratio (1:1) for the wrapper */
  overflow: hidden;
  border-radius: 5px;
}
.image-container .image-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Fill the container */
  object-fit: cover;
  /* Maintain aspect ratio; cover the entire area */
}
